<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- OPEN GRAPH META DESCRIPTION -->
    <meta property="og:title" content="Furniture Gallery" />
    <meta
      property="og:description"
      content="For Furniture Designers & Makers to showcase their works and products easily to potential clients."
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/mrpaulishaili/furniture-gallery/main/assets/images/pexels-photo-1866149.jpeg"
    />
    <meta
      property="og:url"
      content="git+https://github.com/mrpaulishaili/furniture-gallery.git"
    />

    <!-- TWITTER META DESCRIPTION -->
    <meta name="twitter:title" content="European Travel Destinations " />
    <meta
      name="twitter:description"
      content="For Furniture Designers & Makers to showcase their works and products easily to potential clients."
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/mrpaulishaili/furniture-gallery/main/assets/images/pexels-photo-1866149.jpeg"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <title>Furniture App</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- FAVICONS -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <!-- FRAMEWORK -->
    <link rel="stylesheet" href="/css/framework.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body></body>
</html>
