.side-nav {
  position: fixed;
  top: 7rem;
  right: 1rem;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(green, 0.3);

  width: 100%;
  max-width: 250px;

  transition: 0.3s ease-in-out;
  transform-origin: top;

  z-index: 1000;

  &.close {
    transform: scaleY(0);
  }

  &.open {
    transform: scaleY(1);
  }

  ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 1rem;
  }

  li {
    height: 48px;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: green;
  }
}
