<% furnitures.forEach((furniture)=>{ %>
<div class="col-12-xs col-6-sm col-3-xl">
  <div class="card modal-trigger rounded-radius_2 p-all_2 open-modal">
    <div class="card__image m-bottom_2 rounded-radius_2">
      <img src="<%= furniture.image %> " alt="" />
    </div>
  </div>
</div>

<% }); %>
