<% furnitures.forEach((furniture)=>{ %>
<div class="col-6-xs col-4-sm col-3-xl">
  <div class="card modal-trigger p-all_1 rounded-radius_2">
    <div class="card__image rounded-radius_2">
      <img src="<%= furniture.image %> " alt="" />
    </div>
  </div>
</div>
<% }); %>
