<%- include('modules/head'); %>
  <body class="p-all_p2">
    <div class="header p-y_p2 flex flex-j-sb">
      <div class="logo">Furnitiure Gallery</div>
      <div class="menu-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="currentColor"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </div>
    </div>
    <div class="app flex flex-all-center flex-column p-all_p2">
      <h2 class="flex flex-all-center">Great God in Weekend</h2>

      <button class="m-top_m2 p-all_p1">Open Gallery</button>
    </div>
  </body>
</html>
