:root {
  --size: 10px;
}

* {
  font-family: inherit;
  user-select: none;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

/* ----- FLEX POSITIONING ----- */
.flex-all-center {
  justify-content: center;
  align-items: center;
}

.flex-j-center {
  justify-content: center;
}

.flex-a-center {
  align-items: center;
}

.flex-j-sa {
  justify-content: space-around;
}

.flex-j-sb {
  justify-content: space-between;
}

.flex-j-se {
  justify-content: space-evenly;
}

/* ----- FLEX DIRECTION ----- */
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* ----- PADDING ----- */
/* Padding x1 */
.p-all_1 {
  padding: calc(var(--size) * 1);
}

.p-left_1 {
  padding-left: calc(var(--size) * 1);
}

.p-right_1 {
  padding-right: calc(var(--size) * 1);
}

.p-top_1 {
  padding-top: calc(var(--size) * 1);
}

.p-bottom_1 {
  padding-bottom: calc(var(--size) * 1);
}

.p-x_1 {
  padding-left: calc(var(--size) * 1);
  padding-right: calc(var(--size) * 1);
}

.p-y_1 {
  padding-top: calc(var(--size) * 1);
  padding-bottom: calc(var(--size) * 1);
}

/* Padding x2 */
.p-all_2 {
  padding: calc(var(--size) * 2);
}

.p-left_2 {
  padding-left: calc(var(--size) * 2);
}

.p-right_2 {
  padding-right: calc(var(--size) * 2);
}

.p-top_2 {
  padding-top: calc(var(--size) * 2);
}

.p-bottom_2 {
  padding-bottom: calc(var(--size) * 2);
}

.p-x_2 {
  padding-left: calc(var(--size) * 2);
  padding-right: calc(var(--size) * 2);
}

.p-y_2 {
  padding-top: calc(var(--size) * 2);
  padding-bottom: calc(var(--size) * 2);
}

/* Padding x3 */
.p-all_3 {
  padding: calc(var(--size) * 3);
}

.p-left_3 {
  padding-left: calc(var(--size) * 3);
}

.p-right_3 {
  padding-right: calc(var(--size) * 3);
}

.p-top_3 {
  padding-top: calc(var(--size) * 3);
}

.p-bottom_3 {
  padding-bottom: calc(var(--size) * 3);
}

.p-x_3 {
  padding-left: calc(var(--size) * 3);
  padding-right: calc(var(--size) * 3);
}

.p-y_3 {
  padding-top: calc(var(--size) * 3);
  padding-bottom: calc(var(--size) * 3);
}

.p-unset {
  padding: 0;
}

/* ----- MARGIN ----- */
/* margin x1 */
.m-all_1 {
  margin: calc(var(--size) * 1);
}

.m-left_1 {
  margin-left: calc(var(--size) * 1);
}

.m-right_1 {
  margin-right: calc(var(--size) * 1);
}

.m-top_1 {
  margin-top: calc(var(--size) * 1);
}

.m-bottom_1 {
  margin-bottom: calc(var(--size) * 1);
}

.m-x_1 {
  margin: 0 calc(var(--size) * 1);
}

.m-y_1 {
  margin: calc(var(--size) * 1) 0;
}

/* margin x2 */
.m-all_2 {
  margin: calc(var(--size) * 2);
}

.m-left_2 {
  margin-left: calc(var(--size) * 2);
}

.m-right_2 {
  margin-right: calc(var(--size) * 2);
}

.m-top_2 {
  margin-top: calc(var(--size) * 2);
}

.m-bottom_2 {
  margin-bottom: calc(var(--size) * 2);
}

.m-x_2 {
  margin: 0 calc(var(--size) * 2);
}

.m-y_2 {
  margin: calc(var(--size) * 2) 0;
}

/* margin x3 */
.m-all_3 {
  margin: calc(var(--size) * 3);
}

.m-left_3 {
  margin-left: calc(var(--size) * 3);
}

.m-right_3 {
  margin-right: calc(var(--size) * 3);
}

.m-top_3 {
  margin-top: calc(var(--size) * 3);
}

.m-bottom_3 {
  margin-bottom: calc(var(--size) * 3);
}

.m-x_3 {
  margin: 0 calc(var(--size) * 3);
}

.m-y_3 {
  margin: calc(var(--size) * 3) 0;
}

.m-unset {
  margin: 0;
}

.m-auto {
  margin: auto;
}

:root {
  --border-size: calc(var(--size) / 2);
}

/* ----- BORDER RADIUS ----- */
/* Border radius x1 */
.rounded-radius_1 {
  border-radius: calc(var(--border-size) * 1);
}

/* Border radius x2 */
.rounded-radius_2 {
  border-radius: calc(var(--border-size) * 2);
}

/* Border radius x3 */
.rounded-radius_3 {
  border-radius: calc(var(--border-size) * 3);
}

/* Border radius x4 */
.rounded-radius_4 {
  border-radius: calc(var(--border-size) * 4);
}

/* Border radius x5 */
.rounded-radius_5 {
  border-radius: calc(var(--border-size) * 5);
}

.rounded-radius_auto {
  border-radius: 50%;
}

/* ----- BACKGROUND COLORS ----- */
@media (min-width: 0) {
  .responsive-text {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-text {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-text {
    color: purple;
  }
}
@media (min-width: 960px) {
  .responsive-text {
    color: #806d00;
  }
}
@media (min-width: 1200px) {
  .responsive-text {
    color: rgba(0, 128, 38, 0.5);
  }
}

/* ----- TEXT COLORS ----- */
/* GRID LAYOUT */
.grid-layout {
  display: grid;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

/* */
/* GRID POSITIONS */
.justify-fs {
  justify-content: flex-start;
}

.justify-fe {
  justify-content: flex-end;
}

.justify-c {
  justify-content: center;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.grid-all-center {
  justify-content: center;
  align-items: center;
}

/* GRID GAP */
.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

/* GRID COLUMN CLASSES */
@media (min-width: 0) {
  .col-1-xs {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    flex-grow: 0;
    width: 100%;
  }
}
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}