body {
  font-family: "Roboto Condensed", sans-serif;
}
.app {
  width: 100%;
}
.menu-icon,
.theme-toggle,
.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
.menu-icon:hover,
.theme-toggle:hover,
.search-icon :hover {
  opacity: 0.5;
}
.header {
  background-color: #fff;
}
.footer {
  background-color: hsl(160, 67%, 14%);
  color: #fff;
  margin: 0 -20px;
}
.card {
  background-color: #fff;
  width: 100%;
  display: block;
  box-shadow: 0 0 15px rgba(238, 238, 238, 0.753);
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}
.card:hover {
  filter: sepia(0.6);
}
.card__name {
  color: rgba(0, 128, 38, 0.5);
}
.card__image {
  height: 200px;
  width: auto;
  position: relative;
  overflow: hidden;
}
.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
button {
  outline: 0;
  border: none;
  cursor: pointer;
}
:root {
  --size: 10px;
}
* {
  font-family: inherit;
  user-select: none;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.flex-j-sb {
  justify-content: space-between;
}
.p-y_1 {
  padding-top: calc(var(--size) * 1);
  padding-bottom: calc(var(--size) * 1);
}
.p-all_2 {
  padding: calc(var(--size) * 2);
}
.p-x_2 {
  padding-left: calc(var(--size) * 2);
  padding-right: calc(var(--size) * 2);
}
.m-bottom_1 {
  margin-bottom: calc(var(--size) * 1);
}
.m-right_2 {
  margin-right: calc(var(--size) * 2);
}
.m-top_2 {
  margin-top: calc(var(--size) * 2);
}
.m-bottom_2 {
  margin-bottom: calc(var(--size) * 2);
}
:root {
  --border-size: calc(var(--size) / 2);
}
.rounded-radius_2 {
  border-radius: calc(var(--border-size) * 2);
}
.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.justify-c {
  justify-content: center;
}
.gap-2 > * {
  padding: 20px;
}
@media (min-width: 0) {
  .col-12-xs {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    flex-grow: 0;
    width: 25%;
  }
}
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
}
