* {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

body.modal-active {
  overflow: hidden;
}

.app {
  width: 100%;
}

.menu-icon,
.theme-toggle {
  cursor: pointer;
}

.menu-icon:hover,
.theme-toggle:hover {
  opacity: 0.5;
}

.closeTrigger {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.header {
  background-color: #fff;
}

.header .logo {
  font-weight: bold;
  color: #0b1102d0;
  text-decoration: none;
}

.footer {
  background-color: #0c3c2c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main,
.app {
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.furniture-cards .card {
  background-color: transparent;
  padding: 5px;
  -webkit-box-shadow: 0 0px 5px rgba(20, 226, 20, 0.74);
          box-shadow: 0 0px 5px rgba(20, 226, 20, 0.74);
}

.furniture-cards .card__image {
  margin-bottom: 0;
}

.trending-designs {
  background-color: #010c07;
  padding: 20px 0;
  padding-bottom: 2rem;
}

.hero {
  padding: 20px;
}

.hero-intro {
  border: 1px solid #444;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  min-height: calc(100vh - 8rem);
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  font-size: 150%;
}

.hero-intro > * {
  height: auto;
  max-width: 960px;
  margin: 0 auto;
}

.hero-intro p {
  line-height: 1.6;
}

.hero-intro button {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border: 1px solid #010c07;
}

.hero-intro button:hover {
  background-color: #010c07;
  color: #f3f3f3;
}

.hero-intro .action {
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 620px) {
  .hero-intro .action {
    gap: 20px;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 57, 14, 0.86);
  overflow: hidden;
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  z-index: 100;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.modal-container .modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  display: none;
}

.modal-container .modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container-close {
  width: 100%;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal-container-close:hover {
  color: red;
}

.modal-container .svgContainer {
  height: 3rem;
  width: 3rem;
}

.modal-container.close {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.modal-container a {
  text-decoration: none;
  color: inherit;
}

.modal-container .btn {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 128, 0, 0.13);
          box-shadow: 0 2px 5px rgba(0, 128, 0, 0.13);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.modal-container .btn:hover {
  background-color: green;
  color: #fff;
}

.modal-container .btn:last-child:hover {
  background-color: red;
}

.svgContainer {
  height: 1.5rem;
  width: 1.5rem;
}

.side-nav {
  position: fixed;
  top: 7rem;
  right: 1rem;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 128, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 128, 0, 0.3);
  width: 100%;
  max-width: 250px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 1000;
}

.side-nav.close {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.side-nav.open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.side-nav ul {
  list-style: none;
  margin-top: 1rem;
  padding-left: 1rem;
}

.side-nav li {
  height: 48px;
}

.side-nav a {
  text-decoration: none;
  font-weight: bold;
  color: green;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  position: relative;
}

.card .card__number {
  position: absolute;
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #0c3c2c;
  color: #fff;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.card:hover {
  -webkit-filter: sepia(0.6);
          filter: sepia(0.6);
}

.card__name {
  color: rgba(0, 128, 38, 0.5);
}

.card__image {
  height: 200px;
  width: auto;
  position: relative;
  overflow: hidden;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.form-container {
  padding: 20px 2rem;
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  border-radius: 20px;
  padding-bottom: 2rem;
}

.form-container .form-tab {
  padding: 20px;
}

.form-container .form-tab:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-container .form-tab:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-container .form-tab:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.356);
}

.form-container .form-tab.active {
  background-color: green;
  color: white;
}

.form-container .form-tab.active:hover {
  background-color: green;
}

.form-container .form-tab-content {
  display: none;
}

.form-container .form-tab-content.active {
  display: block;
}

.form-container .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.form-container .form label {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.form-container .form input {
  padding: 14px 1rem;
  border-radius: 10px;
  outline: none;
  width: 100%;
  border: 1px solid green;
  font-size: 1rem;
}

#lightBoxBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 128, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) all;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

#lightBoxBg.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  pointer-events: initial;
}

#lightBoxBg img {
  height: 50vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
