* {
  transition: 0.3s ease-in-out;
}
body {
  font-family: "Roboto Condensed", sans-serif;

  &.modal-active {
    overflow: hidden;
  }
}

.app {
  width: 100%;
}

.menu-icon,
.theme-toggle {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.closeTrigger {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
.w-full {
  width: 100%;
}
@import "./layouts/all";

@import "./components/all";
